
#appartments-kitchen-image{
  background-image:  linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), image-url('/assets/appartments-kitchen.jpg');
  background-size: 100%;
}

#appartments-schlafzimmer-image{
  background-image:  linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), image-url('/assets/appartments-schlafzimmer.jpg');
  background-size: 100%;
}

#appartments-wohnzimmer-image{
  background-image:  linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), image-url('/assets/appartments-wohnzimmer.jpg');
  background-size: 100%;
}

#appartments-badezimmer-image{
  background-image:  linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), image-url('/assets/appartments-badezimmer.jpg');
  background-size: 100%;
}
