#experience-dreilaendereck-image{
  background-image:  linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), image-url('/assets/experience-dreilaendereck.jpg');
  background-size: 100%;
}

#experience-hiking-image{
  background-image:  linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), image-url('/assets/experience-hiking.jpg');
  background-size: 100%;
}

#experience-handwerk-image{
  background-image:  linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), image-url('/assets/experience-handwerk.jpg');
  background-size: 100%;
}

#experience-spezialitaeten-image{
  background-image:  linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), image-url('/assets/experience-spezialitaeten.jpg');
  background-size: 100%;
}
