
<div class="footer">
  <div class="footer-line"></div>
  <div class="inner-footer">

    <!--Adresse-->
    <div class="footer-element">
      <div class="footer-header">Gutshaus Sonnegg</div>
      <div class="footer-text">Sonnegg 1</div>
      <div class="footer-text">9141 Eberndorf</div>
      <div class="footer-text">Österreich</div>
    </div>
    <!--Email-->
    <div class="footer-element">
      <div class="footer-header">Kontakt</div>
      <div class="footer-text">sonnegg@sonnegg.com</div>
    </div>

  </div>
</div>
