<div class="navbar">
  <div class="inner-navbar">
  <a class="navbar-link" href="/">Gutshaus</a>
  <a class="navbar-link" href="/pages/appartments">Ferienwohnung</a>
  <a class="navbar-link" href="/pages/experience">Umgebung</a>
  <a class="navbar-link" href="/pages/pictures">Bilder</a>
  <a class="navbar-link" href="/pages/reservation">Reservierung</a>
</div>
  </div>
</div>
