<div class="navbar">
  <div class="inner-navbar">
  <a class="navbar-link" href="">Gutshaus</a>
  <a class="navbar-link" href="">Ferienwohnung</a>
  <a class="navbar-link" href="">Umgebung</a>
  <a class="navbar-link" href="">Bilder</a>
  <a class="navbar-link" href="">Reservierung</a>
</div>
  </div>
</div>
