<!--Banner-->
<div class="appartments-banner">
  <div class="appartments-banner-image">
    <%= render 'shared/navbar' %>
    <div class="banner-content">
      <h1>Gutshaus</h1>
      <h1>Sonnegg</h1>
      <h4>Kärnten, Österreich</h4>
    </div>
  </div>
</div>

<!--Introduction-->
<section>
<div class="text">Das Gutshaus Sonnegg bietet neben einem privat bewohnten Haupthaus seperate Ferienwohnungen. Die drei Appartments unterscheiden sich kaum in Größe und Beschaffenheit und wurden alle in den letzten Jahren saniert. Jede Wohnung verfügt über eine eigene Küche, ein Badezimmer mit Badewanne, ein Schlafzimmer sowie ein Wohnschlafzimmer. Somit bietet eine Wohnung Person für 4 Personen. Darüber hinaus besteht die Möglichkeit auf Anfrage ein Bett für Kleinkinder zu erhalten. Jede Wohnung verfügt über einen eigenen Balkon sowie WLAN. Darüber hinaus besteht auch die Möglichkeit Wäsche zu waschen. Tennisplatz und Schwimmbad stehen unseren Gästen auch jederzeit zur Verfügung.</div>
</section>

<!--Ausstattung-->
<section><div class="space-between">
    <!--Dreiländereck-->
    <div class="overview-section">
      <div class="picture" id="appartments-kitchen-image"></div>
      <div class="picture-header">Küche</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>

    <!--Berge und Seen-->
    <div class="overview-section">
      <div class="picture" id="appartments-schlafzimmer-image"></div>
      <div class="picture-header">Schlafzimmer</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolorum sed iure totam dignissimos ipsum aspernatur omnis maxime vitae dolorem similique, tenetur explicabo soluta hic esse neque, cupiditate saepe rem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
    <!--Kunst und Handwerk-->
    <div class="overview-section">
      <div class="picture" id="appartments-wohnzimmer-image"></div>
      <div class="picture-header">Wohnzimmer</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nemo ipsum atque quae molestiae mollitia in aut expedita, ducimus possimus. Voluptatum dolorem beatae tempore quia vitae est animi obcaecati eveniet.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
    <!--Spezialitäten-->
    <div class="overview-section">
      <div class="picture" id="appartments-badezimmer-image"></div>
      <div class="picture-header">Badezimmer</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ea perspiciatis, dolorem, quos laboriosam earum doloribus libero facilis quidem consectetur vitae eum officiis possimus voluptatem repellat enim, repudiandae rerum, rem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
  </div></section>

<!--Wohnungen-->
<section>
  <div class="section-header">Die Wohnungen</div>
</section>

<!--Reviews-->
<section>
  <div class="section-header">Was andere über uns sagen</div>
  <div class="space-between">

  <%= render 'shared/card' %>

  </div>
</section>
