<!--Banner-->
<div class="appartments-banner">
  <div class="appartments-banner-image">
    <%= render 'shared/navbar' %>
    <div class="banner-content">
      <h1>Gutshaus</h1>
      <h1>Sonnegg</h1>
      <h4>Kärnten, Österreich</h4>
    </div>
  </div>
</div>

<!--Introduction-->
<section>
<div class="text">Das Gutshaus Sonnegg bietet neben einem privat bewohnten Haupthaus seperate Ferienwohnungen. Die drei Appartments unterscheiden sich kaum in Größe und Beschaffenheit und wurden alle in den letzten Jahren saniert. Jede Wohnung verfügt über eine eigene Küche, ein Badezimmer mit Badewanne, ein Schlafzimmer sowie ein Wohnschlafzimmer. Somit bietet eine Wohnung Person für 4 Personen. Darüber hinaus besteht die Möglichkeit auf Anfrage ein Bett für Kleinkinder zu erhalten. Jede Wohnung verfügt über einen eigenen Balkon sowie WLAN. Darüber hinaus besteht auch die Möglichkeit Wäsche zu waschen. Tennisplatz und Schwimmbad stehen unseren Gästen auch jederzeit zur Verfügung.</div>
</section>

<!--Wohnungen Überblick-->
<!-- Wohung 1, Wohnung 2, Wohnung 3 und Küche, Bad, Schlafzimmer -->
<section></section>

<!--Reviews-->
<section>
  <div class="section-header">Was andere über uns sagen</div>
</section>
