<!--Banner-->
<div class="experience-banner">
  <div class="experience-banner-image">
    <%= render 'shared/navbar' %>
    <div class="banner-content">
      <h1>Gutshaus</h1>
      <h1>Sonnegg</h1>
      <h4>Kärnten, Österreich</h4>
    </div>
  </div>
</div>

<!--Introduction-->
<section>
  <div class="text">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia animi odit unde tempore assumenda eum perferendis sint beatae eaque dolorum aperiam saepe dolorem similique ab maxime voluptatem, quos eligendi quis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem voluptatibus, velit sequi, hic pariatur dolores neque iusto repellendus provident nam doloribus fugiat dolor ab impedit dolore. Recusandae necessitatibus, inventore.</div>
</section>

<!--Überblick-->
<section>

  <div class="space-between">
    <!--Dreiländereck-->
    <div class="overview-section">
      <div class="picture" id="experience-dreilaendereck-image"></div>
      <div class="picture-header">Dreiländereck</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>

    <!--Berge und Seen-->
    <div class="overview-section">
      <div class="picture" id="experience-hiking-image"></div>
      <div class="picture-header">Berge und Seen</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolorum sed iure totam dignissimos ipsum aspernatur omnis maxime vitae dolorem similique, tenetur explicabo soluta hic esse neque, cupiditate saepe rem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
    <!--Kunst und Handwerk-->
    <div class="overview-section">
      <div class="picture" id="experience-handwerk-image"></div>
      <div class="picture-header">Kunst und Handwerk</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nemo ipsum atque quae molestiae mollitia in aut expedita, ducimus possimus. Voluptatum dolorem beatae tempore quia vitae est animi obcaecati eveniet.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
    <!--Spezialitäten-->
    <div class="overview-section">
      <div class="picture" id="experience-spezialitaeten-image"></div>
      <div class="picture-header">Spezialitäten</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ea perspiciatis, dolorem, quos laboriosam earum doloribus libero facilis quidem consectetur vitae eum officiis possimus voluptatem repellat enim, repudiandae rerum, rem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
  </div>
</section>

<!--Links-->
<section>
  <div class="section-header">Weiterführende Links</div>
</section>
