<!--Banner-->
<div class="experience-banner">
  <div class="experience-banner-image">
    <%= render 'shared/navbar' %>
    <div class="banner-content">
      <h1>Gutshaus</h1>
      <h1>Sonnegg</h1>
      <h4>Kärnten, Österreich</h4>
    </div>
  </div>
</div>

<section></section>
