<!--Banner-->
<div class="home-banner">
  <div class="home-banner-image">
    <%= render 'shared/navbar' %>
    <div class="banner-content">
      <h1>Gutshaus</h1>
      <h1>Sonnegg</h1>
      <h4>Kärnten, Österreich</h4>
    </div>
  </div>
</div>

<!--Introduction-->
<section>
  <div class="text">
  Das Gutshaus Sonnegg ist ein privates Gutshaus und befindet sich in idyllischer Landschaft in Kärnten, Österreich. Das Ferienwohnungen bieten den idealen Ausgangspunkt für Ausflüge zu  zahlreichen Seen und Bergen. Auch kulinarisch hat die Region einiges zu bieten, außerdem bietet das Gut einige Köstlichkeiten aus eigener Produktion zum Verkauf an. Neben einem Schwimmbad und Tennisplatz lockt das Gut mit seinem traumhaften Garten, der zum entspannen und geniessen einlädt.</div>
</section>

<!--Überblick-->
<section>

  <div class="space-between">
    <!--Ferienwohnung-->
    <div class="overview-section">
      <div class="picture" id="home-bedroom-image"></div>
      <div class="picture-header">Ferienwohnung</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>

    <!--Garten-->
    <div class="overview-section">
      <div class="picture" id="home-garden-image"></div>
      <div class="picture-header">Garten</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolorum sed iure totam dignissimos ipsum aspernatur omnis maxime vitae dolorem similique, tenetur explicabo soluta hic esse neque, cupiditate saepe rem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
    <!--Schwimmbad-->
    <div class="overview-section">
      <div class="picture" id="home-pool-image"></div>
      <div class="picture-header">Schwimmbad</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nemo ipsum atque quae molestiae mollitia in aut expedita, ducimus possimus. Voluptatum dolorem beatae tempore quia vitae est animi obcaecati eveniet.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
    <!--Tennisplatz-->
    <div class="overview-section">
      <div class="picture" id="home-tennis-image"></div>
      <div class="picture-header">Tennisplatz</div>
      <div class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ea perspiciatis, dolorem, quos laboriosam earum doloribus libero facilis quidem consectetur vitae eum officiis possimus voluptatem repellat enim, repudiandae rerum, rem.loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nisi ad, dignissimos ipsa quidem iure voluptates quisquam dicta a itaque, ut aut. Voluptatem ea debitis necessitatibus ducimus vero quasi, repudiandae? lorem</div>
    </div>
  </div>
</section>


