<!--Banner-->
<div class="reservation-banner">
  <div class="reservation-banner-image">
    <%= render 'shared/navbar' %>
    <div class="banner-content">
      <h1>Gutshaus</h1>
      <h1>Sonnegg</h1>
      <h4>Kärnten, Österreich</h4>
    </div>
  </div>
</div>

<section>
  <div class="text">Sollten Sie Interesse daran haben eine oder mehrere unserer Ferienwohnungen zu mieten bitten wir Sie direkt per Email mit uns in Kontakt zu treten : sonnegg@sonnegg.com. Um Ihre Buchung schneller bearbeiten zu können bitten wir Sie das genaue Datum und die Anzahl der Gäste in Ihrer Nachricht anzugeben. Selbstverständlich ist eine erste Anfrage unverbindlich. Wir freuen uns über Ihren Besuch!</div>
</section>
