.footer-line{
  width: 50%;
  height: 2px;
  background-color: #bfbfbf;
  position: absolute;
  top: 0;
  left: 25%;
  box-shadow: 3px 2px 3px #e6e6e6;
}

.footer{
  width: 100%;
  height: 150px;
  position: absolute;
}


.inner-footer{
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;


}

.footer-header{
  border-bottom: 5px;
  font-size: 18px;
  color: #bfbfbf;
}

.footer-text{
  font-size: 15px;
  color: #bfbfbf;
}
